body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header>div {
    background-color: #E6E6E6;
    text-align: center;
    padding: 10px;
}

h1 {
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
    letter-spacing: 10px;
    padding: 10px;
    margin: 0px;
}

main {
    padding: 75px 0px;
}

h2 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 10px;
    padding: 5px 0px 5px 15px;
}

footer {
    background-color: #005677;
}

footer p {
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.fontItalic {
    font-style: italic;
}

.fontBold {
    font-weight: bold;
}

.ulRemovePoint {
    list-style-type: none;
}

.brIndent {
    display: block;
    padding: 0px 0px 5px 80px;
}